@charset "UTF-8";
@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap");
html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Play", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smothing: antialiased;
  -moz-osx-font-smothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 935px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 915px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 505px;
  position: relative;
}
.hero::before {
  position: absolute;
  bottom: -30px;
  right: 27%;
  content: url(../../img/decor/Rectangle14.svg);
}

.hero__title-section {
  width: 40%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  background: url(../../img/decor/Ellipse5.png) right center no-repeat;
}

.hero__main-title {
  font-family: "Play";
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 22px;
}

.hero__title-desc {
  font-size: 18px;
  color: #292929;
  margin-bottom: 55px;
  padding-right: 30%;
  width: 450px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  color: #292929;
  text-decoration: none;
}

.phone-number {
  font-size: 18px;
  font-family: "Play";
  line-height: 18px;
  color: #292929;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 9px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 41px;
  margin-right: 10px;
}

.feature__text {
  font-size: 16px;
  line-height: 18px;
  max-width: 114px;
}

.btn {
  font-family: "Play";
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  padding: 18px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  text-decoration: none;
  border: none;
  color: #FFFFFF;
}
.btn--theme-red {
  background: #E01F3D;
}
.btn--theme-red:hover {
  background: #CA1B36;
}
.btn--theme-ginger {
  background: #CA1B36;
  cursor: pointer;
}
.btn--theme-ginger:hover {
  background: #E01F3D;
}
.btn--theme-transparent {
  background: transparent;
  color: #E01F3D;
  cursor: pointer;
}
.btn--theme-transparent:hover {
  color: #fff;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.section--font-color-white {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.section--font-color-white .section__title {
  color: inherit;
}

.section__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  color: #292929;
  text-align: center;
  margin-bottom: 50px;
}

.benefits__section {
  height: 100vh;
  min-height: 505px;
  position: relative;
}
.benefits__section::before {
  position: absolute;
  bottom: -30px;
  left: 24%;
  content: url(../../img/decor/triangle.svg);
}

.reviews__section {
  position: relative;
}
.reviews__section::before {
  position: absolute;
  bottom: -25px;
  left: 27%;
  content: url(../../img/decor/circle.svg);
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 18px;
}

.headline__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 0 20%;
  margin-bottom: 62px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item::before {
  content: url(../../img/decor/separator.png);
  position: absolute;
  top: 60px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image {
  margin-bottom: 18px;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  position: absolute;
  width: 56px;
  height: 60px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
  margin-bottom: 5px;
}

.benefit__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.section__title-reviews {
  margin-bottom: 32px;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.reviews__display::before {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -65px;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 40px;
}

.reviews__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
  margin-bottom: 27px;
}

.reviews__text {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 38px;
}

.reviews__author {
  font-weight: 700;
  line-height: 21px;
  color: #292929;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 4px solid transparent;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}
.interactive-avatar:hover {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  background-image: url(../../img/orderBG.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.order-section::before {
  position: absolute;
  top: -23px;
  right: 27%;
  content: url(../../img/decor/Polygon.svg);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__title {
  margin-bottom: 6px;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 27px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 17px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border-radius: 4px;
  padding: 18px 12px;
  border: 3px solid transparent;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__input--textarea {
  height: 152px;
  resize: none;
  margin-bottom: 32px;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 19px;
}
.form__controls:last-child {
  margin-bottom: 0;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url(../../img/icons/tick.png) center center no-repeat;
}

.radio__elem {
  display: none;
  /*если radio__elem в состоянии checked то блок ниже него с названием radio__visible будет виден(display: block;)*/
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-left: 16px;
  margin-right: 10px;
}
.radio__visible::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link::before {
  background: #E01F3D;
}

.fixed-menu__link {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 86px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: center center no-repeat;
}

.socials__item {
  margin-right: 10px;
}
.socials__item--icon--vk .socials__link {
  background-image: url("../../img/icons/vk.svg");
}
.socials__item--icon--fb .socials__link {
  background-image: url("../../img/icons/fb.svg");
}
.socials__item--icon--inst .socials__link {
  background-image: url("../../img/icons/inst.svg");
}
.socials__item--icon--tg .socials__link {
  background-image: url("../../img/icons/tg.svg");
}

.section-map {
  height: 652px;
  background: url(../../img/content/map.png) top center no-repeat;
}