.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 20px 0 18px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
}