.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: 18px;
}

.headline__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 0 20%;
    margin-bottom: 62px;
}